Authlib
boto3
bs4
email-validator
Flask
Flask-Admin
Flask-Caching
Flask-Cors
flask-jwt-extended
Flask-Limiter
flask-login
Flask-Mail
Flask-Migrate
#Flask-RESTful
flask-restful
Flask-SeaSurf
Flask-SQLAlchemy
flask-talisman
Flask-WTF
gunicorn
hvac #install vault
httpx
matplotlib
openai-whisper
openai
pdf2image
pdfkit
pdfplumber
pillow
phonenumbers
praw
psycopg2
pycryptodome
pydantic
PyMuPDF
pymongo[srv]
pymysql
PyPDF2[full]
pyotp
pytesseract
python-docx
python-dotenv
pytube
requests
unidecode
WTForms
yfinance
