<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index')}}">
            <img src="https://github.com/laurindocbenjamim/dev-images/blob/main/289-2890745_transparent-data-science-logo-removebg-preview.png?raw=true" alt="Data Tuning Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('web_site.about_us') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://laurindocbenjamim.github.io/laurindo-c-benjamim-portfolio/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                  
                <li>
                    <a class="nav-link" href="#" style="color:#f8f8f8;font-weight:600;font-size: .8rem;text-transform:none;">
                    Dashboard </a>
                </li>
                
                <li>
                    <a class="nav-link" href="#"  style="font-size: .8rem;color:#bcbebe">
                        Login</a>
                </li>
            </ul>
            
        <!--<span class="navbar-text me-3" style="border-left: 1px solid #07bce9;border-top: 1px solid #07bce9;border-bottom: 1px solid #07bce9; border-radius:4px;padding: 0 .8rem">
                <i class="fas fa-user me-2"></i>
                <span id="username" style="font-size: .8rem;">User</span>
            </span>
            <a class="btn btn-outline-light rounded-pill px-3 btn-sm" style="font-size: .8rem;color:#bcbebe"
            href="#">
                <i class="fa fa-sign-out me-2"></i>Logout
            </a>-->
            
              
        </div>
    </div>
</nav>